<title><%= t "InfoPage.title" %></title>

     
 <div class="col-sm-12 text-center bootstrap-welcome"> 

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">Technologies <span class="highlight">used:</span></h2>
                <p style="font-weight: 600;margin-bottom:30px">All tools are free and/or <span class="highlight">open source.</span></p>
            </div>
            
            <div class="col-lg-offset-1 col-sm-12 col-md-12 col-lg-10">
                <div class="features-list">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="feature-block bootdey" style="visibility: visible;">
                                <%= image_tag "ruby icon color", :class => "iconimg" %>
                                <div class="moj_info_item">
                                    <div class="name">
                                        Ruby
                                    </div>
                                    <div class="text"><%= t "InfoPage.ruby" %></div>
                                    <div class="more">
                                        <a href="https://www.ruby-lang.org/en/" class="btn btn-default btn-sm" target ="_blank">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="feature-block bootdey" style="visibility: visible;">
                                <%= image_tag "rails icon color", :class => "iconimg" %>
                                <div class="moj_info_item">
                                    <div class="name">
                                        Ruby on Rails
                                    </div>
                                    <div class="text"><%= t "InfoPage.rails" %></div>
                                    <div class="more">
                                        <a href="http://rubyonrails.org/" class="btn btn-default btn-sm" target ="_blank">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="feature-block bootdey" style="visibility: visible;">
                                <%= image_tag "cloud9 icon color", :class => "iconimg" %>
                                <div class="moj_info_item">
                                    <div class="name">
                                        Cloud9 IDE
                                    </div>
                                    <div class="text"><%= t "InfoPage.cloud9" %></div>
                                    <div class="more">
                                        <a href="https://c9.io" class="btn btn-default btn-sm" target ="_blank">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="feature-block bootdey" style="visibility: visible;">
                                <%= image_tag "phantomjs icon color", :class => "iconimg" %>
                                <div class="moj_info_item">
                                    <div class="name">
                                        PhantomJS
                                    </div>
                                    <div class="text"><%= t "InfoPage.phantomjs" %></div>
                                    <div class="more">
                                        <a href="http://phantomjs.org/" class="btn btn-default btn-sm" target ="_blank">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="feature-block bootdey" style="visibility: visible;">
                                <%= image_tag "siteprism icon color", :class => "iconimg" %>
                                <div class="moj_info_item">
                                    <div class="name">
                                        SitePrism
                                    </div>
                                    <div class="text"><%= t "InfoPage.siteprism" %></div>
                                    <div class="more">
                                        <a href="https://github.com/natritmeyer/site_prism" class="btn btn-default btn-sm" target ="_blank">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="feature-block bootdey" style="visibility: visible;">
                                <%= image_tag "mechanize icon color", :class => "iconimg" %>
                                <div class="moj_info_item">
                                    <div class="name">
                                        Mechanize
                                    </div>
                                    <div class="text"><%= t "InfoPage.mechanize" %></div>
                                    <div class="more">
                                        <a href="https://github.com/sparklemotion/mechanize" class="btn btn-default btn-sm" target ="_blank">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="feature-block bootdey" style="visibility: visible;">
                                <%= image_tag "sqlite icon color", :class => "iconimg" %>
                                <div class="moj_info_item">
                                    <div class="name">
                                        SQlite
                                    </div>
                                    <div class="text"><%= t "InfoPage.sqlite" %></div>
                                    <div class="more">
                                        <a href="https://www.sqlite.org/" class="btn btn-default btn-sm" target ="_blank">Read more</a>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="feature-block bootdey" style="visibility: visible; ">
                                <%= image_tag "cytoscape icon color", :class => "iconimg" %>
                                <div class="moj_info_item">
                                    <div class="name">
                                        Cytoscape
                                    </div>
                                    <div class="text" ><%= t "InfoPage.cytoscape" %></div>
                                    <div class="more">
                                    <a href="http://www.cytoscape.org/" class="btn btn-default btn-sm" target ="_blank">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="feature-block bootdey" style="visibility: visible; ">
                                <%= image_tag "capybara icon color", :class => "iconimg" %>
                                <div class="moj_info_item">
                                    <div class="name">
                                        Capybara
                                    </div>
                                    <div class="text" ><%= t "InfoPage.capybara" %></div>
                                    <div class="more">
                                    <a href="http://jnicklas.github.io/capybara/" class="btn btn-default btn-sm" target ="_blank">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
          <div class="know_more">
          Would you like to know more?<br><br>
          <%= link_to "Sign up!", '/users/new', class: "btn btn-lg btn-info" %>
          </div>
</div>