<title><%= t "OnepicPage.title" %></title>

<div class="container">
	<div class="row">
	    <h1><%= t "OnepicPage.text" %></h1>
	    <p><%= t "OnepicPage.textp" %></p>
		<div class="col-md-3 col-sm-4 col-xs-6"><%= link_to image_tag("1thumb.png", class: "img-responsive onepic"), "onepic/1"%> </div>
        <div class="col-md-3 col-sm-4 col-xs-6"><%= link_to image_tag("2thumb.png", class: "img-responsive onepic"), "onepic/2"%> </div>
        <div class="col-md-3 col-sm-4 col-xs-6"><%= link_to image_tag("3thumb.png", class: "img-responsive onepic"), "onepic/3"%> </div>
        <div class="col-md-3 col-sm-4 col-xs-6"><%= link_to image_tag("4thumb.png", class: "img-responsive onepic"), "onepic/4"%> </div>
        <div class="col-md-3 col-sm-4 col-xs-6"><%= link_to image_tag("5thumb.png", class: "img-responsive onepic"), "onepic/5"%> </div>
        <div class="col-md-3 col-sm-4 col-xs-6"><%= link_to image_tag("6thumb.png", class: "img-responsive onepic"), "onepic/6"%> </div>
        <div class="col-md-3 col-sm-4 col-xs-6"><%= link_to image_tag("7thumb.png", class: "img-responsive onepic"), "onepic/7"%> </div>
        <div class="col-md-3 col-sm-4 col-xs-6"><%= link_to image_tag("8thumb.png", class: "img-responsive onepic"), "onepic/8"%> </div>
    </div>
</div>
          
         
            
      
      
